html {
    background-color: rgb(29,45,68);
    font-family: 'Noto Sans', Verdana, sans-serif;
    color: #c0c0c0;
    text-align: center;
    line-height: 1.5em;
    font-size: 0.9em;
}

body { 
    padding: 20px;
    background-color: rgba(0,0,0,0.3);
}

a {
    text-decoration: none;
    color: #A0ABD3;
}

a:hover {
    color: #D3D8E9;
    font-style: italic;
}

h1 {
    color: #90A7C6;
    font-family: 'Playfair Display', serif;
}
h1, h2, h3, .hero-text {
    text-shadow: 3px 3px 3px rgba(4, 12, 48, 0.651);
}
h3 {
    background-color: rgba(0,0,0,0.3);
    margin: 10px 400px;
    padding: 10px;
    border-radius: 1em;
}

.topnav {
    background-color: rgba(0,0,0,0.2);
    overflow: hidden;
    text-align: center;
}

.topnav a {
    color: #ffddd2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    letter-spacing: 2px;
    font-style: italic;
    color: #e29578;
    background-color: rgba(0,0,0,0.2);
}

.hero-image {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("heroimage.png");
    height: 50%;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero-text {
    text-align: center;
    position: relative;
    color: white;
    padding: 50px;
}

.box {
    margin: 0px 50px;
    padding: 30px;
    background-color: rgba(184, 184, 184, 0.1);
    border-radius: 3em;
}
